// Fonts
$primaryFont: 'Brandon Grotesque', sans-serif;
$secondaryFont: 'Brandon Grotesque', sans-serif;
$baseFontSize: 16px;
$baseFontColor: #95b8db;

// Colours
$primary: #1031A6;
$secondary: #FEE848;
$tertiary: #1031A6;
$quaternary: #323535;
$green: #64c82d;
$white: #fff;
$lightgrey: #e4eaf1;
$text: $white;
$textLight: #545b73;
$border: darken($lightgrey, 3%);
$borderDark: lighten($text, 35%);
$success: #64c82d;
$warning: #ffc458;
$error: tomato;
