/*
 * Header part
 *
*/
header.header { width: 100%; transition: all .4s ease; /*position: fixed; top: 0; z-index: 10;*/ width: 100%; top: 0; left: 0;
    @include breakpoint(papabear) { padding: 0; }

    .header--site__wide__notice { padding: 10px 0; background: $primary; font-size: 13px; font-weight: 500; color: #fff; line-height: 19px;
        a { color: $tertiary; font-weight: 700;}
        .max__width { display: flex; justify-content: center;}
    }

    // Nav
    @import './mega-menu';

    .header__main { position: relative; background: $primary; padding: 15px 0;

        @include breakpoint(brotherbear) { padding: 5px 0;}

        .max__width { width: 100%; display: flex; justify-content: flex-start; align-items: center;}

        .header__main--left { display: flex; align-items: center;
            @include breakpoint(teenbear) { flex: 2; }

            .logo { width: 150px; transition: all .4s ease; margin-right: 20px;
                @include breakpoint(brotherbear) { margin: 0; width: 120px;}
                a { display: block; 
                    svg { 
                        .st0 { fill: #fff;}
                    }
                }
            }

            .title{
                h3{font-size: 34px; 
                    @include breakpoint(brotherbear) { padding-left: 20px; font-size: 24px; text-align: center;}
                }

                p{font-size: 22px;
                    @include breakpoint(brotherbear) { padding-left: 20px; font-size: 18px; text-align: center;}
                }
            }

        }

        .header__main--right {  color: $secondary; display: flex; align-items: flex-end; justify-content: flex-end; flex-direction: column;

            .header__actions {

                ul { display: flex; align-items: center;

                    li { display: flex; align-items: center; }

                }
            }

        }

        .burger__menu { display: none; margin-right: 5px;
            @include breakpoint(papabear) { display: block; }

            i { font-size: 40px; color: $white;
                @include breakpoint(teenbear) { font-size: 28px; }
            } 
        }
    }

    .pre-header{
        background: $secondary; padding: 5px 0;
        .max__width{
            display: flex; justify-content: space-between; border-bottom: 1px solid rgba($white, 0.3);

            .contact-container{display: flex;
                .contact{display: flex; align-items: center; padding: 10px 0; margin-right: 30px;
                    @include breakpoint(papabear) { display: none; }
        
                    a{padding-left: 5px; color: $black; font-size: 18px;
                        &:hover{color: lighten($black, 10%);}
                    }
    
                    i{color: $black;}
                }
            }

            .social{
                display: flex; align-items: center;
                a{ background: $black; border-radius: 50%;
                    i{ padding: 10px; color: $white; font-size: 24px; transition: .5s ease all; background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
                        -webkit-background-clip: text;
                        /* Also define standard property for compatibility */
                        background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }

                    &:hover{background: $white;}
                }
            }
        }
    }

    .post-header{
        background: $secondary;

        .burger__menu { display: none;
            @include breakpoint(papabear) { display: flex; padding: 10px 0;}

            i { font-size: 40px; color: $black; margin: 0 auto;
                @include breakpoint(teenbear) { font-size: 24px; }
            } 
        }
    }

    &.sticky,
    &.not-sticky { transition: all .3s ease;
        .logo { width: 120px; transition: all .3s ease; }
    }

    &.sticky { top: 0; background: rgba($tertiary, 0.9);}

    @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
        &.sticky {
            background: rgba($tertiary, 0.5);
            backdrop-filter: blur(20px);
        }
    }

    &.not-sticky { top: -150px; }

    &.reset {
        .logo { width: 120px; transition: all .3s ease;
            @include breakpoint(papabear) { width: 70px; }
        }
    }
}

body.single-post { 
    header.header {
        background: $tertiary;
    }
}